body {min-width: 700px;}

h1 {border-bottom: 1px solid black; padding-bottom: .2em;}

.section {page-break-inside: avoid;}

.pie-grid {}
.pie-grid.two .datasection.pie {width: 35%; margin: 0 0 0 10%;}
.pie-grid.three .datasection.pie {width: 30%;}
.pie-grid > div {float: left;}
.pie-grid-legend {clear: both;}
.pie-grid-legend .pie-legend {margin: 0; padding: 1em;}
.pie-grid-legend .pie-legend span {width: 0; height: 0; display: inline-block; margin: 0 .5em 0 1em; border: 8px solid;}
.pie-grid-legend .pie-legend li {list-style-type: none; display: inline-block;}

form {margin: 1em 0;}
form label:hover {text-decoration: underline; cursor: pointer;}

.datasection.pie {position: relative; height: auto; margin: 0 1.5%; min-width: 200px;}
.datasection.pie h3 {position: absolute; }
.datasection.pie canvas {}
.datasection.pie .pie-legend {font-size: 10pt; margin: 0; padding: 1em; border: 1px solid black; display: inline-block; bottom: 0; right: 0; position: absolute; background: rgba(255, 255, 255, .5);}
.datasection.pie .pie-legend span {width: 0; height: 0; display: inline-block; margin-right: .5em; border: 8px solid;}
.datasection.pie .pie-legend li {list-style-type: none;}

.datasection.line {position: relative;}
.datasection.line canvas {width: 100% !important; height: 100% !important;}
.datasection.line .line-legend {font-size: 10pt; margin: 0; padding: 1em; border: 1px solid black; display: inline-block; top: 12px; left: 50px; position: absolute; z-index: 2; background: rgba(255, 255, 255, .5);}
.datasection.line .line-legend span {width: 0; height: 0; display: inline-block; margin-right: .5em; border: 8px solid;}
.datasection.line .line-legend li {list-style-type: none;}

.datasection.bar {position: relative; max-width: 1000px; margin: 0 auto;}
.datasection.bar canvas {width: 100% !important; height: 100% !important;}
.datasection.bar .bar-legend {font-size: 10pt; margin: 0; padding: 1em; border: 1px solid black; display: inline-block; top: 12px; left: 50px; position: absolute; z-index: 2; background: rgba(255, 255, 255, .5);}
.datasection.bar .bar-legend span {width: 0; height: 0; display: inline-block; margin-right: .5em; border: 8px solid;}
.datasection.bar .bar-legend li {list-style-type: none;}

.datasection.table table {width: 100%; border: 1px solid #BBD; border-collapse: collapse; margin-bottom: 2em;}
.datasection.table th {background-color: #BBD;}
.datasection.table td {background-color: #DDE;}
.datasection.table th, td { border: 1px solid #BBD; padding: .4em 2em;}

.datasection.deflist {line-height: 1.5em;
    -moz-column-rule-color: #eee; -webkit-column-rule-color: #eee; column-rule-color: #eee;
    -moz-column-rule-style: solid; -webkit-column-rule-style: solid; column-rule-style: solid;
    columns: 24em; -moz-columns: 24em; -webkit-columns: 24em;
    -moz-column-gap: 2em; -webkit-column-gap: 2em; column-gap: 2em;}
.datasection.deflist article {position: relative; margin-bottom: 3em;
    -webkit-column-break-inside: avoid; page-break-inside: avoid; break-inside: avoid;}
.datasection.deflist h3 {margin: 0 0 .25em 72px;}
.datasection.deflist p {margin: 0 0 0 72px;}
.datasection.deflist img {width: 3em; position: absolute;}

@media print {
    .interactive {display: none;}

    .pie-grid.two canvas {width: 3in !important; height: 3in !important;}
    .pie-grid.three canvas {width: 2.2in !important; height: 2.2in !important;}
}
